aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.3.2
altair==5.5.0
aniso8601==8.0.0
annotated-types==0.7.0
anthropic==0.54.0
anyio==4.9.0
archspec==0.2.3
argcomplete==3.5.3
attrs==23.2.0
autopep8==1.6.0
babel==2.17.0
backoff==2.2.1
bcrypt==4.0.1
Beaker==1.12.1
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
blivet==3.10.0
blivet-gui==2.6.0
boltons==23.1.1
boto3==1.38.36
botocore==1.38.36
Brlapi==0.8.5
Brotli==1.1.0
browser-use==0.1.48
cached-property==1.5.2
cachetools==5.5.2
certifi==2021.10.8
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
conda==24.4.0
conda-libmamba-solver==23.11.1
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
courlan==1.3.2
create-fastapi-project==0.2.5
cryptography==41.0.7
cupshelpers==1.0
dasbus==1.7
dataclasses-json==0.6.7
dateparser==1.2.1
dbus-python==1.3.2
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
dlib==19.24.2
dnf==4.22.0
dnspython==1.16.0
docker==6.1.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
dotenv==0.9.9
ecdsa==0.19.1
et_xmlfile==2.0.0
eventlet==0.31.0
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss-cpu==1.11.0
fake-git-history==1.0.2
fastapi==0.115.12
fastapi-cli-slim==0.0.4
fedora-third-party==0.10
ffmpeg==1.4
ffmpy==0.6.0
file-magic==0.4.0
filelock==3.18.0
filetype==1.2.0
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.4.3
fros==1.1
frozendict==2.3.10
frozenlist==1.6.2
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.18
google-api-core==2.25.0
google-auth==2.40.3
google-genai==1.19.0
googleapis-common-protos==1.70.0
gotrue==1.3.1
gradio==5.27.0
gradio_client==1.9.0
greenlet==3.1.1
groovy==0.1.2
grpcio==1.73.0
grpcio-status==1.73.0
h11==0.16.0
h2==4.2.0
hf-xet==1.1.3
hpack==4.1.0
html2text==2025.4.15
htmldate==1.9.3
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.33.0
humanize==3.13.1
hyperframe==6.1.0
ibm-cos-sdk==2.13.5
ibm-cos-sdk-core==2.13.5
ibm-cos-sdk-s3transfer==2.13.5
ibm_watsonx_ai==1.3.24
idna==3.3
iso639==0.1.4
itsdangerous==1.1.0
Jinja2==2.11.2
jiter==0.10.0
jmespath==1.0.1
json_repair==0.46.2
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
jusText==3.0.2
langchain==0.3.22
langchain-anthropic==0.3.3
langchain-aws==0.2.19
langchain-community==0.3.20
langchain-core==0.3.49
langchain-deepseek==0.1.3
langchain-google-genai==2.1.2
langchain-ibm==0.3.10
langchain-mcp-adapters==0.0.9
langchain-mistralai==0.2.4
langchain-ollama==0.3.0
langchain-openai==0.3.11
langchain-qdrant==0.2.0
langchain-text-splitters==0.3.7
langgraph==0.3.34
langgraph-checkpoint==2.0.26
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.70
langsmith==0.3.44
langtable==0.0.68
libcomps==0.1.20
libdnf==0.73.4
libmambapy==1.5.8
lomond==0.3.3
louis==3.28.0
lxml==5.4.0
lxml_html_clean==0.4.2
MainContentExtractor==0.0.4
Mako==1.2.3
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mcp==1.6.0
mdurl==0.1.2
mem0ai==0.1.93
memory==1.0.0
menuinst==2.0.0
middleware==1.2.3
monotonic==1.6
multidict==6.4.4
mutagen==1.47.0
mypy_extensions==1.1.0
narwhals==1.41.0
nftables==0.1
numpy==1.26.2
olefile==0.47
ollama==0.5.1
openai==1.84.0
opencv-python==4.8.1.78
openpyxl==3.1.5
orjson==3.10.18
ormsgpack==1.10.0
packaging==23.2
pafy==0.5.5
pandas==2.2.3
paramiko==3.5.1
passlib==1.7.4
Paste==3.7.1
pexpect==4.9.0
pid==2.2.3
pillow==10.3.0
platformdirs==3.11.0
playwright==1.52.0
pluggy==1.3.0
ply==3.11
portalocker==2.10.1
postgrest==0.13.2
posthog==3.25.0
productmd==1.43
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==6.31.1
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.25.1
pycodestyle==2.8.0
pycosat==0.6.6
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.21.0
pycups==2.0.4
pydantic==2.10.6
pydantic-settings==2.9.1
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.0
pyenchant==3.2.2
Pygments==2.19.1
PyGObject==3.48.2
pykickstart==3.52
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparted==3.13.0
pypdf==5.6.0
pyperclip==1.9.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.11.2
python-jose==3.3.0
python-meh==0.51
python-multipart==0.0.20
python-pam==2.0.2
python-socketio==5.12.1
python-vlc==3.0.20123
pytz==2024.2
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
qdrant-client==1.14.2
questionary==2.1.0
realtime==1.0.6
referencing==0.31.1
regex==2024.9.11
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
requests-toolbelt==1.0.0
rich==14.0.0
rong==0.0.3
rpds-py==0.18.1
rpm==4.19.1.1
rsa==4.9.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruff==0.11.13
s3transfer==0.13.0
safehttpx==0.1.6
screeninfo==0.8.1
selinux @ file:///builddir/build/BUILD/libselinux-3.7/src
semantic-version==2.10.0
sepolicy @ file:///builddir/build/BUILD/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.0.3
shellingham==1.5.4
simple-websocket==1.1.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.15.0
smmap==5.0.2
sniffio==1.3.1
sos==4.7.2
soupsieve==2.5
SQLAlchemy==2.0.41
sse-starlette==2.3.6
starlette==0.46.2
storage3==0.6.1
streamlit==1.45.1
StrEnum==0.4.15
supabase==2.0.3
supafunc==0.3.3
systemd-python==235
tabulate==0.9.0
Tempita==0.5.2
tenacity==9.1.2
termcolor==1.1.0
texttable==1.6.7
tiktoken==0.9.0
tld==0.13.1
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.1
tqdm==4.67.1
trafilatura==2.0.0
typer==0.12.5
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.1
tzdata==2024.2
tzlocal==5.3.1
urllib3==2.1.0
uv==0.6.13
uvicorn==0.24.0
watchdog==6.0.0
wcwidth==0.2.13
websocket-client==1.3.3
websockets==15.0.1
Werkzeug==1.0.1
wsproto==1.2.0
xkbregistry==0.3
XlsxWriter==3.0.2
xxhash==3.5.0
yarl==1.20.0
youtube-dl==2021.6.6
yt-dlp==2025.5.22
zstandard==0.23.0
